.new-report {
	margin: 10px;
	text-align: right;
}

.search-date {
	margin: 10px;
    text-align: center;
}

.search-date form{
	display: inline-block;
}

.content {
	border: 5px double black;
	margin: 20px 10px;
	padding: 10px 10px 30px 10px;
	background-color: beige;
}

.date {
	font-size: 10px;

}

.edit-btn {
	display       : inline-block;
	font-size     : 12px;
	text-align    : center;
	cursor        : pointer;
	padding       : 5px 50px;
	background    : deepskyblue;
	color         : #ffffff;
	line-height   : 1em;
	border-radius : 5%;
}

.delete-btn {
	display       : inline-block;
	font-size     : 12px;
	text-align    : center;
	cursor        : pointer;
	padding       : 5px 50px;
	background    : red;
	color         : #ffffff;
	line-height   : 1em;
	border-radius : 5%;
}

.comment-form {
	border-top: 2px solid black;
	margin-top: 20px;
}

.comment-content {
	border-top: 1px dashed black;
	margin-top: 20px;
}

.create-btn {
	display       : inline-block;
	font-size     : 12px;
	text-align    : center;
	cursor        : pointer;
	padding       : 5px 50px;
	background    : springgreen;
	color         : #ffffff;
	line-height   : 1em;
	border-radius : 5%;
}