<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>編集画面</title>
		<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
	</head>
	<body>
		<div class="content">
			<h3>【投稿編集】</h3>
			<form th:action="@{/update/{id}(id=${formModel.id})}" th:object="${formModel}" th:method="put">
				<input type="text" name="content" th:value="${formModel.content}" size="20" maxlength="200" /><br/>
				<input class="create-btn" type="submit" value="更新" />
			</form>
		</div>
		<div style="text-align:right;margin-right: 20px;">
			<form action="/">
				<input type="submit" value="戻る" />
			</form>
		</div>
	</body>
</html>

