<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>コメント編集画面</title>
		<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
	</head>
	<body>
		<div class="content">
			<h3>【コメント編集】</h3>
			<form th:action="@{/updateComment/{id}(id=${commentModel.id})}" th:object="${commentModel}" th:method="put">
				<input type="text" th:field="*{text}" size="20" maxlength="200" />
				<input type="hidden" th:field="*{reportId}" /></br>
				<input  class="create-btn" type="submit" value="更新" />
			</form>
			<br />
		</div>
		<div style="text-align:right;margin-right: 20px;">
			<form action="/">
				<input type="submit" value="戻る" />
			</form>
		</div>
	</body>
</html>