<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新規投稿画面</title>
		<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
	</head>
	<body>
		<div class="content">
			<h3>【新規投稿】</h3>
			<form method="post" action="/add" th:object="${formModel}">
				<textarea row="50" cols="80" th:field="*{content}" size="80" maxlength="200" ></textarea><br />
				<input class="create-btn" type="submit" value="投稿" />
			</form>
		</div>
		<div style="text-align:right;margin-right: 20px;">
			<form action="/">
				<input type="submit" value="戻る" />
			</form>
		</div>
	</body>
</html>