<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
		<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
	</head>
	<body>
		<div class="new-report">
			<a href="/new"><button type="button">新規投稿</button> </a>
		</div>

		<!-- 日付による絞り込みフォーム -->
		<div class="search-date">
			<form action="./" method="get">
				投稿日時：
				<input type="date" name="startDate" th:value="${startDate}" />
				～
				<input type="date" name="endDate" th:value="${endDate}" />
				<input type="submit" value="絞り込み" />
			</form>
			<form action="./">
				<input type="submit" value="リセット" />
			</form>
		</div>

		<div class="content" th:each="content : ${contents}">

			<!-- 投稿一覧 -->
			<p th:text="${content.content}" style="font-size:30px;" />
			<div style="text-align:right;">
				<span class="date" th:text="'投稿日時（' + ${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')} + '）'" />
				<span class="date" th:text="'更新日時（' + ${#dates.format(content.updatedDate, 'yyyy/MM/dd HH:mm:ss')} + '）'" />
			</div>
			<div style="display:inline-flex;">
				<form th:action="@{/edit/{id}(id=${content.id})}" th:method="get">
					<input type="submit" value="編集" class="edit-btn">
				</form>
				<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
					<input type="submit" value="削除" class="delete-btn">
				</form>
			</div>
			</br>

			<!-- コメントフォーム -->
			<div class="comment-form">
				<p>【コメント入力フォーム】</p>
	 			<form th:action="@{/addComment/{id}(id=${content.id})}" th:method="post" th:object="${commentModel}">
					<textarea row="50" cols="80" maxlength="200" th:field="*{text}" /><br/>
					<input class="create-btn" type="submit" value="コメントする" />
				</form>
			</div>

			<!-- コメント一覧 -->
			<div th:each="comment : ${comments}">
				<div class="comment-content" th:if="${comment.reportId} == ${content.id}">
					<p th:text="${comment.text}" />
					<div style="text-align:right;">
						<span class="date" th:text="'投稿日時（' + ${#dates.format(comment.createdDate, 'yyyy/MM/dd HH:mm:ss')} + '）'" />
						<span class="date" th:text="'更新日時（' + ${#dates.format(comment.updatedDate, 'yyyy/MM/dd HH:mm:ss')} + '）'" />
					</div>
					<div style="display:inline-flex">
						<form th:action="@{/editComment/{id}(id=${comment.id})}" th:method="get">
							<input class="edit-btn" type="submit" value="編集" />
						</form>
						<form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
							<input class="delete-btn" type="submit" value="削除">
						</form>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>